[Unit]
Description=Timer that will launch hello.service every two minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
